/* SCSS Compiled */
/***************************************************              GENERAL RESET STYLES             ***************************************************/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

*:focus {
  outline: none;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  border-style: none;
  max-width: 100%;
}

form fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

input, textarea, select {
  vertical-align: middle;
  color: #000;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

input::-webkit-input-placeholder {
  color: #ebedec;
}

input:focus::-webkit-input-placeholder {
  color: #ebedec;
}

/*@media*/
/* @media (min-width: 1921px){} 													QHD \ UHD
@media (min-width: 1600px) and (max-width: 1919px) {}	HD +
@media (min-width: 1440px) and (max-width: 1599px) {}	macbook
@media (min-width: 1360px) and (max-width: 1439px) {}	HD
@media (min-width: 1280px) and (max-width: 1359px) {} IPAD2
@media (min-width: 1024px) and (max-width: 1279px) {} IPAD
@media (min-width: 896px) and (max-width: 1023px) {}	Ip Xs max horizontal
@media (min-width: 812px) and (max-width: 895px) {}		Ip Xs horizontal
@media (min-width: 768px) and (max-width: 811px) {}		Tablet
@media (min-width: 736px) and (max-width: 767px) {}		Ip 6,7,8 Plus horizontal
@media (min-width: 667px) and (max-width: 735px) {}		Ip 6,7,8 horizontal
@media (min-width: 568px) and (max-width: 666px) {}		Ip 5 horizontal
@media (min-width: 480px) and (max-width: 567px) {}		Ip 4 horizontal
@media (min-width: 414px) and (max-width: 479px) {}		Ip 6,7,8
@media (min-width: 320px) and (max-width: 413px) {}		Ip 4,5 */
/*@media end*/
/*usage  @include font-size(13);*/
/* Brand Colors ------------------------------------------------*/
/* wrapper */
#wrapper {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

.layout {
  margin: 0 auto;
  max-width: 940px;
  height: 100%;
}

main {
  display: block;
  max-width: 100%;
  min-height: 870px;
  max-height: 100%;
  background-image: url(../images/backMain.png);
  background-repeat: repeat;
  background-size: 100%;
  position: relative;
}
@media (max-width: 991px) {
  main {
    padding: 0 20px 0 20px;
  }
}

#content {
  position: relative;
}

#sidebar {
  position: relative;
}

aside {
  position: relative;
}

header {
  max-width: 100%;
  min-height: 72px;
  background-color: #000000;
  display: block;
  position: relative;
}
header .container-fluid {
  display: block;
  overflow: hidden;
}
header .container-fluid .logo {
  max-height: 24px;
  max-width: 110px;
  line-height: 77px;
}
header .container-fluid nav {
  display: block;
  line-height: 42px;
  padding: none;
}
header .container-fluid nav li {
  margin: 0 10px 0 0px;
  position: relative;
}
header .container-fluid nav li:nth-child(4) {
  pointer-events: none;
}
header .container-fluid nav li:nth-child(4)::after {
  content: "";
  height: 2px;
  width: 58px;
  position: absolute;
  bottom: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
  overflow: hidden;
  background-color: #ffffff;
  pointer-events: none;
}
@media (max-width: 991px) {
  header .container-fluid nav li:nth-child(4)::after {
    display: none;
  }
}
header .container-fluid nav li a {
  color: #ffffff;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
}
header .container-fluid nav li a:hover {
  color: #a7a6a6;
}
header .container-fluid .col-3 {
  line-height: 72px;
}
header .container-fluid .col-3 .iconOpen {
  min-height: 14px;
  min-width: 14px;
}
@media (max-width: 991px) {
  header .container-fluid .col-3 .iconOpen {
    float: right;
  }
}
@media (max-width: 345px) {
  header .container-fluid .col-3 .iconOpen {
    display: none;
  }
}
header .container-fluid .col-3 .hOpen {
  margin: 0 0 0 15px;
  color: #a7a6a6;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
}
@media (max-width: 991px) {
  header .container-fluid .col-3 .hOpen {
    float: right !important;
    margin: 0 10px 0 0;
  }
}
header .container-fluid .col-3 .hOpen:hover {
  color: #ffffff;
}

main .topMain {
  display: block;
  position: relative;
  overflow: hidden;
}
main .topMain .topTxt {
  margin: 40px 0 0 0;
  font-size: 30px;
  color: #000000;
  font-weight: 400;
  font-family: "PT Sans Narrow", sans-serif;
}
@media (max-width: 375px) {
  main .topMain .topTxt {
    font-size: 25px;
  }
}
main .topMain .navMain {
  position: relative;
  display: block;
  overflow: visible;
  margin: 20px 15px 0 0;
  font-size: 14px;
  color: #000000;
  font-weight: 700;
  font-family: "PT Sans Narrow", sans-serif;
}
@media (max-width: 375px) {
  main .topMain .navMain {
    font-size: 13px;
  }
}
main .topMain .navMain a {
  color: #000000;
  font-weight: 700;
}
main .topMain .navMain :nth-child(2) {
  margin: 0 30px 0 30px;
  position: relative;
  color: #000000;
}
main .topMain .navMain :nth-child(2)::before {
  content: "";
  height: 10px;
  width: 10px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  top: 3px;
  right: 59px;
  display: block;
  overflow: visible;
  background-color: #000000;
  pointer-events: none;
}
main .topMain .navMain :nth-child(2)::after {
  content: "";
  height: 10px;
  width: 10px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  top: 3px;
  left: 59px;
  display: block;
  overflow: visible;
  background-color: #000000;
  pointer-events: none;
}
main .topMain .navMain :nth-child(3) {
  color: #94908c;
  pointer-events: none;
}
main .container-fluid {
  margin: 0;
  padding: 0;
}
main .container-fluid .col-md-3 {
  display: block;
}
@media (max-width: 768px) {
  main .container-fluid .col-md-3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}
@media (max-width: 768px) {
  main .container-fluid .col-md-3 .prod {
    display: inline-block;
    width: 50%;
    margin: 0 auto;
    padding-bottom: 50px;
  }
}
main .container-fluid .col-md-3 .prod p {
  margin: 50px 0 0 0;
  font-size: 24px;
  color: #000000;
  font-weight: 400;
  font-family: "PT Sans Narrow", sans-serif;
}
@media (max-width: 768px) {
  main .container-fluid .col-md-3 .prod p {
    font-size: 18px;
    width: 50%;
    margin: 0 auto;
    padding: 50px 0 0 0;
  }
}
@media (max-width: 375px) {
  main .container-fluid .col-md-3 .prod p {
    font-size: 15px;
  }
}
main .container-fluid .col-md-3 .prod .form-check {
  margin: 20px 0 0px 0;
}
@media (max-width: 768px) {
  main .container-fluid .col-md-3 .prod .form-check {
    width: 50%;
    margin: 0 auto;
    padding: 20px 0 0 0;
  }
}
main .container-fluid .col-md-3 .prod .form-check .form-check-input {
  margin-top: 2px;
}
main .container-fluid .col-md-3 .prod .form-check .form-check-label {
  font-size: 14px;
  color: #000000;
  font-weight: 700;
  font-family: "PT Sans Narrow", sans-serif;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  main .container-fluid .col-md-3 .prod .form-check .form-check-label {
    font-size: 12px;
  }
}
@media (max-width: 375px) {
  main .container-fluid .col-md-3 .prod .form-check .form-check-label {
    font-size: 11px;
  }
}
@media (max-width: 768px) {
  main .container-fluid .col-md-3 .group {
    display: inline-block;
    vertical-align: top;
    width: 48%;
    margin: 0 auto;
  }
}
main .container-fluid .col-md-3 .group p {
  margin: 50px 0 0 0;
  font-size: 24px;
  color: #000000;
  font-weight: 400;
  font-family: "PT Sans Narrow", sans-serif;
}
@media (max-width: 768px) {
  main .container-fluid .col-md-3 .group p {
    font-size: 18px;
    width: 50%;
    margin: 0 auto;
    padding: 50px 0 0 0;
  }
}
@media (max-width: 375px) {
  main .container-fluid .col-md-3 .group p {
    font-size: 15px;
  }
}
main .container-fluid .col-md-3 .group .formTwo {
  margin: 20px 0 0 0;
}
@media (max-width: 768px) {
  main .container-fluid .col-md-3 .group .formTwo {
    width: 50%;
    margin: 0 auto;
    padding: 20px 0 0px 0;
  }
}
main .container-fluid .col-md-3 .group .formTwo .form-check-input {
  margin-top: 2px;
}
main .container-fluid .col-md-3 .group .formTwo .form-check-label {
  font-size: 14px;
  color: #000000;
  font-weight: 700;
  font-family: "PT Sans Narrow", sans-serif;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  main .container-fluid .col-md-3 .group .formTwo .form-check-label {
    font-size: 12px;
  }
}
@media (max-width: 375px) {
  main .container-fluid .col-md-3 .group .formTwo .form-check-label {
    font-size: 11px;
  }
}
main .container-fluid .col-md-3 .openShop {
  margin: 50px 0 0 0;
  display: block;
  height: 43px;
  width: 112px;
  background-color: #000000;
  line-height: 43px;
  font-size: 19px;
  color: #ffffff;
  font-weight: 400;
  font-family: "PT Sans Narrow", sans-serif;
}
@media (max-width: 768px) {
  main .container-fluid .col-md-3 .openShop {
    width: 90%;
    margin: 0 auto;
  }
}
main .container-fluid .col-md-3 .openShop:hover {
  background-color: #292929;
}
main .container-fluid .col-9 {
  margin: 40px 0 0px 0;
}
@media (max-width: 768px) {
  main .container-fluid .col-9 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}
main .container-fluid .col-9 .buy {
  display: block;
  width: 30.33%;
  margin-right: 3%;
  min-height: 60px;
  margin: 10px 0 10px 0;
  -webkit-box-shadow: 0 0 30px 2px #d1ceca;
          box-shadow: 0 0 30px 2px #d1ceca;
  background-color: #f0efef;
}
@media (max-width: 600px) {
  main .container-fluid .col-9 .buy {
    width: 40%;
  }
}
@media (max-width: 500px) {
  main .container-fluid .col-9 .buy {
    width: 48%;
  }
}
main .container-fluid .col-9 .buy .photo {
  display: block;
  position: relative;
  max-height: 163px;
  width: 100%;
}
main .container-fluid .col-9 .buy .photo img {
  height: 100%;
  width: 100%;
}
main .container-fluid .col-9 .buy .buyProd {
  margin: 5px 0 10px 0;
  line-height: 23px;
  font-size: 16px;
  color: #000000;
  font-weight: 700;
  font-family: "PT Sans Narrow", sans-serif;
  max-width: 100%;
  min-height: 50px;
}
@media (max-width: 600px) {
  main .container-fluid .col-9 .buy .buyProd {
    font-size: 12px;
  }
}
@media (max-width: 329px) {
  main .container-fluid .col-9 .buy .buyProd {
    font-size: 11px;
  }
}
main .container-fluid .col-9 .buy .magazin {
  margin: 0 0 10px 0;
  display: block;
  letter-spacing: -0.36em;
  font-size: 0;
  max-width: 180px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
main .container-fluid .col-9 .buy .magazin .price {
  display: inline-block;
  height: 40px;
  width: 50%;
  background-color: #d1d1d1;
  pointer-events: none;
  margin: 0px 0 0 0px;
  letter-spacing: normal;
}
main .container-fluid .col-9 .buy .magazin .price p {
  color: #000000;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  font-family: "PT Sans Narrow", sans-serif;
}
@media (max-width: 600px) {
  main .container-fluid .col-9 .buy .magazin .price p {
    font-size: 10px;
  }
}
main .container-fluid .col-9 .buy .magazin .click {
  display: inline-block;
  height: 40px;
  width: 50%;
  background-color: #000000;
  margin: 0px 0 0 0px;
  letter-spacing: normal;
  font-size: 5px;
}
main .container-fluid .col-9 .buy .magazin .click:hover {
  background-color: #4d4c4c;
}
main .container-fluid .col-9 .buy .magazin .click p {
  color: #ffffff;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 40px;
  text-align: center;
  font-family: "PT Sans Narrow", sans-serif;
}
@media (max-width: 600px) {
  main .container-fluid .col-9 .buy .magazin .click p {
    font-size: 10px;
  }
}
main .container-fluid .col-12 {
  display: block;
}
main .container-fluid .col-12 ul {
  display: block;
  margin: 50px 0 10px 0;
}
main .container-fluid .col-12 ul li {
  display: block;
  position: relative;
}
main .container-fluid .col-12 ul li a {
  height: 40px;
  width: 40px;
  background-color: #000000;
  margin: 0 5px 0 5px;
  line-height: 40px;
  font-size: 18px;
  font-family: "PT Sans Narrow", sans-serif;
  color: #ffffff;
}
main .container-fluid .col-12 ul li .aTwo {
  background-color: #4d4c4c;
  pointer-events: none;
}

footer {
  display: block;
  max-width: 100%;
  height: 140px;
  background-image: url(../images/iconbackk.png);
  background-repeat: repeat;
  margin: 0 0 0;
  padding: 0 0 0;
  -webkit-box-shadow: inset 0 10px 56px #000000;
          box-shadow: inset 0 10px 56px #000000;
}
footer .container-fluid {
  height: 100%;
  position: relative;
}
footer .container-fluid .col-mg- {
  width: 100%;
  padding: 5px 0 0 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
footer .container-fluid .col-mg- p {
  line-height: 25px;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #ffffff;
}
footer .container-fluid .col-mg- .social {
  margin: 10px 0 0 0;
}
footer .container-fluid .col-mg- .social a {
  max-height: 43px;
  max-width: 43px;
  margin: 5px 10px 0 10px;
}
footer .container-fluid .col-mg- .social a img {
  max-height: 100%;
  max-width: 100%;
}